body {
    font-family: 'Arial', sans-serif;
}

/* Hero Section */
.hero {
    background: url('../images/pexels-kevin-ku-92347-577585.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px black; /* Stroke width and color */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    -webkit-text-stroke: 0.5px black; /* Slightly thinner stroke for paragraph */
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}

.hero .btn {
    margin-top: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Button shadow for depth */
}
